/*
* {
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;         
}
*/
.main{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.top{
    width: 900px;
    display: flex;
    justify-content: center; 
}
.main-body{
    width: 900px;
    display: flex;
    align-items: flex-start;
}
.main-body-container{
    margin-top: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    margin: 5px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgb(226, 246, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card:hover, .task:hover{
    box-shadow: 1px 1px 3px rgb(83, 85, 86);
}
.priority-label{
    background-color: rgb(226, 246, 255);
    border-radius: 3px;
    border: solid 1px rgb(226, 246, 255);

}
.priority-label:hover{
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(177, 190, 255);

}

.deadline{
    width: 100%;
    display: flex;
}
.deadline button{
    margin-left: 50px;
}
.card div{
    margin-bottom: 5px;
}
.task{
    width: 280px;
    height: 130px;
    overflow: auto;
    scrollbar-width: thin;
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgb(226, 246, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.circle{
    border: solid 1px black;
    margin: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.high{
    background-color: rgba(255, 123, 123, 0.35);
}
.medium{
    background-color: rgba(255, 242, 0, 0.30);
}
.low{
    background-color: rgba(226, 246, 255);
}
.info div{
    display: flex;
    align-items: center;
}
.task-name{
display: flex;
justify-content: center;
}
.task:has(.mark-new:hover){
    box-shadow:-8px 5px 5px black;
    transition: box-shadow 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.task:has(.mark-in-progress:hover){
    box-shadow:-2px 8px 5px black;
    transition: box-shadow 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.task:has(.mark-finished:hover){
    box-shadow: 2px 8px 5px black;
    transition: box-shadow 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.task:has(.delete-task:hover){
    box-shadow:8px 5px 5px black;
    transition: box-shadow 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}